<h2>Página de Cadastros</h2>
<form method="post" action="/confirmar">
  <div class="form-group">
    <label for="exampleInputEmail1">Você concorda em fornecer seus dados pessoais ao CISAM de acordo com a Lei Geral de Proteção de dados (LGPD)?
Para maiores informações sobre a LGPD, consultar: http://www.mpf.mp.br/servicos/lgpd/o-que-e-a-lgpd</label>
    <input type="text" class="form-control" id="lgpd" aria-describedby="emailHelp" placeholder="Responda com Sim ou Não">
  </div>
  <div class="form-group">
    <label for="name">Nome Completo</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite seu nome...">
  </div>
    <div class="form-group">
    <label for="name">Numero de telefone</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite seu telefone...">
  </div>
  <div class="form-group">
    <label for="name">Informe um e-mail pessoal para comunicação com o(a) paciente.
Caso não tenha email pessoal, busque sua Unidade de Saúde da Família para pedir orientação ou use de uma pessoa próxima em constante contato com você.</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite um email para contato...">
  </div>
  <div class="form-group">
    <label for="name">Sexo</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite seu sexo...">
  </div>
  <div class="form-group">
    <label for="name">CPF</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite seu CPF...">
  </div>
  <div class="form-group">
    <label for="name">CEP da residência</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite seu CEP...">
  </div>
    <div class="form-group">
    <label for="name">Rua</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite sua Rua...">
  </div>
  <div class="form-group">
    <label for="name">Número da residência</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite o número da sua residência...">
  </div>
  <div class="form-group">
    <label for="name">Complemento</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite um complemento...">
  </div>
  <div class="form-group">
    <label for="name">Bairro</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite digite seu bairro...">
  </div>
  <div class="form-group">
    <label for="name">Estado</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite seu estado...">
  </div>
  <div class="form-group">
    <label for="name">Cidade</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite sua cidade...">
  </div>
  <div class="form-group">
    <label for="name">CNS</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite seu CNS...">
  </div>
  <div class="form-group">
    <label for="name">Condição de saúde atual</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite sua condição de saúde...">
  </div>
    <div class="form-group">
    <label for="name">No caso de ainda ter ciclo menstrual ativo, qual a data provável do 1o dia do ciclo menstrual (se regular). Se for irregular, nos descreva como ocorre.</label>
    <input type="text" class="form-control" id="nome" placeholder="Detalhe seu ciclo...">
  </div>
    <div class="form-group">
    <label for="name">Motivo da consulta</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite seu motivo para consulta...">
  </div>
      <div class="form-group">
    <label for="name">Informe se tem alguma restrição de data ou horário para realização do exame.</label>
    <input type="text" class="form-control" id="nome" placeholder="Informe sua disponbilidade...">
  </div>
        <div class="form-group">
    <label for="name">Data de nascimento:</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite sua data de nascimento...">
    </div>
    <div class="form-group">
    <label for="name">Data Atual:</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite a data atual...">
    </div>
    <div class="form-group">
    <label for="name">Idade</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite sua idade...">
    </div>
    <div class="form-group">
    <label for="name">Classificação de Idade</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite sua faixa etária...">
    </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
